body {
    background-color: #d7d7d7;
    color: black;
}

[class~=hero] {
    width: 100%;
}
[class~=hero], [class~=card-img-top] {
    box-shadow: 7.5pt 10px 18.75pt #525252;
}
[class~=hero], [class~=card-img-top] {
    border-radius: 50%;
}
img {
    vertical-align: middle;
    border-style: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


[class~=page-title] {
    font-size: 3.5em;
}
[class~=page-title], [class~=section-heading] {
    color: #02027b;
}
[class~=page-subtitle], [class~=section-description], [class~=section-divider], [class~=section-subheading], p, [class~=section-heading], [class~=page-title], .section-small-heading {
    text-align: center;
}
p {
    font-weight: 400;
}
p, ul {
    font-size: 1.2rem;
}
p {
    color: #494949;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
injected stylesheet
:host, :root {
    --rem: 16;
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
    --lt-color-white: #fff !important;
    --lt-color-black: #111213 !important;
    --lt-color-transparent: rgba(255, 255, 255, 0) !important;
    --lt-color-background-light: var(--lt-color-gray-100) !important;
    --lt-color-background-default: var(--lt-color-gray-200) !important;
    --lt-color-background-dark: var(--lt-color-gray-300) !important;
    --lt-color-border-light: var(--lt-color-gray-200) !important;
    --lt-color-border-default: var(--lt-color-gray-300) !important;
    --lt-color-border-dark: var(--lt-color-gray-400) !important;
    --lt-color-text-very-light: var(--lt-color-gray-500) !important;
    --lt-color-text-light: var(--lt-color-gray-600) !important;
    --lt-color-text-default: var(--lt-color-gray-700) !important;
    --lt-color-text-dark: var(--lt-color-gray-800) !important;
    --lt-color-overlay-default: #fff !important;
    --lt-color-overlay-dark: #fff !important;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1) !important;
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3) !important;
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
    --lt-color-white: #fff !important;
    --lt-color-black: #111213 !important;
    --lt-color-transparent: rgba(255, 255, 255, 0) !important;
    --lt-color-background-light: var(--lt-color-gray-100) !important;
    --lt-color-background-default: var(--lt-color-gray-200) !important;
    --lt-color-background-dark: var(--lt-color-gray-300) !important;
    --lt-color-border-light: var(--lt-color-gray-200) !important;
    --lt-color-border-default: var(--lt-color-gray-300) !important;
    --lt-color-border-dark: var(--lt-color-gray-400) !important;
    --lt-color-text-very-light: var(--lt-color-gray-500) !important;
    --lt-color-text-light: var(--lt-color-gray-600) !important;
    --lt-color-text-default: var(--lt-color-gray-700) !important;
    --lt-color-text-dark: var(--lt-color-gray-800) !important;
    --lt-color-overlay-default: #fff !important;
    --lt-color-overlay-dark: #fff !important;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1) !important;
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3) !important;
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}

