body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    overflow-x: hidden darkslategray;
}
body {
    border-top-color: transparent;
}
body, [class~=keyword-magnet] {
    border-top-style: solid;
}
body {
    border-top-width: 3rem;
}
body {
    border-right-color: transparent;
}

[class~=keyword-magnet], body {
    border-right-style: solid;
}
body {
    border-right-width: 8rem;
}
body {
    border-left-color: transparent;
}
body, [class~=keyword-magnet], [class~=tooltip] > [class~=tooltip-inner] {
    border-left-style: solid;
}
body {
    border-left-width: 8rem;
}
[class~=card], body {
    border-image: none;
}
body {
    border-bottom-color: transparent;
}
body {
    border-bottom-style: solid;
}
body {
    border-bottom-width: 3rem;
}
body {
    background-color: #ebe1e1;
}

[class~=hero] {
    width: 100%;
}
[class~=hero], [class~=card-img-top] {
    box-shadow: 7.5pt 10px 18.75pt #525252;
}
[class~=hero], [class~=card-img-top] {
    border-radius: 50%;
}
img {
    vertical-align: middle;
    border-style: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

[class~=page-subtitle], [class~=section-description], [class~=section-divider], [class~=section-subheading], p, [class~=section-heading], [class~=page-title], .section-small-heading {
    text-align: center;
}
[class~=page-subtitle] {
    font-weight: 500;
}
[class~=page-subtitle] {
    font-size: 1.3em;
}
[class~=page-subtitle] {
    color: #161616;
}

p {
    font-weight: 400;
}
p, ul {
    font-size: 1.2rem;
}
p {
    color: #494949;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}

user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

[class~=page-title] {
font-size: 3.5em;
}
[class~=page-title], [class~=section-heading] {
color: #02027b;
}
[class~=page-subtitle], [class~=section-description], [class~=section-divider], [class~=section-subheading], p, [class~=section-heading], [class~=page-title], .section-small-heading {
text-align: center;
}

@media (min-width: 576px) {
.container, .container-sm {
    max-width: 540px;
}
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}

injected stylesheet
:host, :root {
    --rem: 16;
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
    --lt-color-white: #fff !important;
    --lt-color-black: #111213 !important;
    --lt-color-transparent: rgba(255, 255, 255, 0) !important;
    --lt-color-background-light: var(--lt-color-gray-100) !important;
    --lt-color-background-default: var(--lt-color-gray-200) !important;
    --lt-color-background-dark: var(--lt-color-gray-300) !important;
    --lt-color-border-light: var(--lt-color-gray-200) !important;
    --lt-color-border-default: var(--lt-color-gray-300) !important;
    --lt-color-border-dark: var(--lt-color-gray-400) !important;
    --lt-color-text-very-light: var(--lt-color-gray-500) !important;
    --lt-color-text-light: var(--lt-color-gray-600) !important;
    --lt-color-text-default: var(--lt-color-gray-700) !important;
    --lt-color-text-dark: var(--lt-color-gray-800) !important;
    --lt-color-overlay-default: #fff !important;
    --lt-color-overlay-dark: #fff !important;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1) !important;
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3) !important;
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
    --lt-color-white: #fff !important;
    --lt-color-black: #111213 !important;
    --lt-color-transparent: rgba(255, 255, 255, 0) !important;
    --lt-color-background-light: var(--lt-color-gray-100) !important;
    --lt-color-background-default: var(--lt-color-gray-200) !important;
    --lt-color-background-dark: var(--lt-color-gray-300) !important;
    --lt-color-border-light: var(--lt-color-gray-200) !important;
    --lt-color-border-default: var(--lt-color-gray-300) !important;
    --lt-color-border-dark: var(--lt-color-gray-400) !important;
    --lt-color-text-very-light: var(--lt-color-gray-500) !important;
    --lt-color-text-light: var(--lt-color-gray-600) !important;
    --lt-color-text-default: var(--lt-color-gray-700) !important;
    --lt-color-text-dark: var(--lt-color-gray-800) !important;
    --lt-color-overlay-default: #fff !important;
    --lt-color-overlay-dark: #fff !important;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1) !important;
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3) !important;
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
injected stylesheet
:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-color-white: #fff;
    --lt-color-black: #111213;
    --lt-color-transparent: rgba(255, 255, 255, 0);
    --lt-color-background-light: var(--lt-color-gray-100);
    --lt-color-background-default: var(--lt-color-gray-200);
    --lt-color-background-dark: var(--lt-color-gray-300);
    --lt-color-border-light: var(--lt-color-gray-200);
    --lt-color-border-default: var(--lt-color-gray-300);
    --lt-color-border-dark: var(--lt-color-gray-400);
    --lt-color-text-very-light: var(--lt-color-gray-500);
    --lt-color-text-light: var(--lt-color-gray-600);
    --lt-color-text-default: var(--lt-color-gray-700);
    --lt-color-text-dark: var(--lt-color-gray-800);
    --lt-color-overlay-default: #fff;
    --lt-color-overlay-dark: #fff;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1);
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}

[class~=bio-block] {
    width: 75%;
}
[class~=bio-block], [class~=card-img-top] {
    margin-top: 0;
}
[class~=card-img-top], [class~=bio-block] {
    margin-right: auto;
}
[class~=bio-block] {
    margin-bottom: 0;
}
[class~=bio-block], [class~=card-img-top] {
    margin-left: auto;
}

hr {
    width: 20%;
}
hr {
    margin-top: 2rem;
}
hr, [class~=section-divider] {
    margin-right: auto;
}
hr {
    margin-bottom: 2rem;
}
[class~=section-divider], hr {
    margin-left: auto;
}
hr {
    border-image: none;
}
hr {
    border-top-color: #b52580;
}
hr {
    border-top-style: dotted;
}
hr {
    border-top-width: .4rem;
}

.section-small-heading, [class~=section-heading] {
    margin-bottom: 1rem;
}
[class~=section-heading] {
    margin-top: 1.3rem;
}
.section-small-heading, [class~=section-subheading], [class~=section-heading] {
    font-weight: 600;
}
[class~=section-heading] {
    font-size: 2em;
}
[class~=page-title], [class~=section-heading] {
    color: #02027b;
}

[class~=card-img-top] {
    max-width: 85%;
}

[class~=card-img-top], [class~=hero-div] {
    margin-bottom: 0;
}

[class~=hero-div], [class~=keyword-magnet], [class~=card-title], .card-body {
    text-align: center;
}

.card-text {
    min-height: 5rem;
}

.card{
    --bs-card-bg: transparent;
    border: transparent;
}

[class~=keyword-magnet] {
    white-space: pre;
}
[class~=keyword-magnet] {
    text-shadow: none;
}
[class~=keyword-magnet] {
    padding-top: .15em;
}
[class~=keyword-magnet] {
    padding-right: .5em;
}
[class~=keyword-magnet] {
    padding-bottom: .15em;
}
[class~=keyword-magnet] {
    padding-left: .5em;
}
[class~=keyword-magnet] {
    margin-top: .1em;
}
[class~=keyword-magnet] {
    margin-right: .1em;
}
[class~=keyword-magnet] {
    margin-bottom: .1em;
}
[class~=keyword-magnet] {
    margin-left: .1em;
}
[class~=keyword-magnet] {
    line-height: 2.2em;
}
[class~=keyword-magnet] {
    font-size: .85em;
}
[class~=keyword-magnet] {
    color: #2c2c2c;
}
[class~=keyword-magnet] {
    border-radius: .0625in;
}

[class~=keyword-magnet] {
    border-top-color: #2c2c2c;
}
[class~=keyword-magnet] {
    border-right-color: #2c2c2c;
}
[class~=keyword-magnet] {
    border-bottom-color: #2c2c2c;
}
[class~=keyword-magnet] {
    border-left-color: #2c2c2c;
}

[class~=tooltip][class~=bottom] > [class~=tooltip-arrow], [class~=keyword-magnet], [class~=tooltip] > [class~=tooltip-inner] {
    border-bottom-style: solid;
}

[class~=tooltip] > [class~=tooltip-inner], [class~=keyword-magnet] {
    border-width: .017708333in;
}

l, ul li:before {
    margin-top: 0;
}
ul li:before {
    margin-right: 1em;
}
ul li:before {
    margin-bottom: 0;
}
ul li:before {
    margin-left: 1em;
}
ul li:before {
    content: "★";
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
ul {
    list-style: none;
}
p, ul {
    font-size: 1.2rem;
}
user agent stylesheet
ul {
    list-style-type: disc;
}

